.siteWrapper{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: grey;
}

.embedWrapper {
  pointer-events: none;
}

.helpWrapper {
  z-index: 5;
  bottom: 0%;
  right: 0%;
  position: fixed;
  background: none;
}

.menuWrapper {
  z-index: 5;
  position: fixed;
  background: none;
}

.creditsWrapper {
  z-index: 5;
  bottom: 0%;
  right: 0%;
  position: fixed;
  background: none;
}

/* #region <City Menu> */

.menu {
  z-index: 5;
  position: relative;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-text-stroke: 0.25px lightgray;
}

.menuButton {
  z-index: 3;
  position: absolute;
  top: 3px;
  right: 114px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  background: white;
  border-color: black;
  border-radius: 50%;
  font-family: Arial, monospace;
  filter: opacity(0.3);
  transition: all 0.2s;
}

.creditsButton {
  z-index: 5;
  position: absolute;
  top: 80px;
  right: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255,255,255,0.75);
  border: 1.5px solid black;
  border-radius: 10%;
  color: black;
  filter: opacity(0.3);
  transition: all 0.2s;
}

.popupMenu {
  z-index: 5;
  position: fixed;
}

.boxMenu {
  z-index: 5;
  position: fixed;
  top: 63px;
  right: 0%;
  height: 125px;
  min-height: 10vh;
  width: 225px;
  margin: 0;
  padding: 20px;
  background-color: rgba(255,255,255,0.5);
  border-radius: 10px;
  border: 1px solid black;
  font-family: Arial, monospace;
  filter: drop-shadow(2px 4px 6px black);
}

.closeMenuIcon {
  z-index: 5;
  position: fixed;
  top: 4%;
  right: 2%;
  width: 25px;
  height: 25px;
  line-height: 20px;
  text-align: center;
  background: #ededed;
  border: 1.5px solid black;
  border-radius: 50%;
  font-size: 20px;
  filter: opacity(0.3);
  transition: all 0.2s;
}

.citySelector {
  width: 65%;
}

/* #endregion */

/* #region <Video Player> */

.videoResponsive {
  z-index: 1;
  position: relative;
  width: 300%;
  height: 100vh;
  left: -100%;
  padding-bottom: 56.25%;
  padding-top: 25px;
}

.videoResponsive iframe {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.videoWrapper {
  z-index: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.muteButton {
  z-index: 3;
  position: fixed;
  top: 3px;
  right: 40px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  filter: opacity(0.3);
  background: white;
  border-color: black;
  border-radius: 50%;
  transition: all 0.2s;
}

.muteIcon {
  transform: scale(1.3);
}

/* #endregion */

/* #region <Music Player> */

.music {
  z-index: 3;
  position: absolute;
  top: 4px;
  left: 3px;
}

.music iframe {
  height: 80px;
  width: 250px;
  filter: opacity(0.1);
  transition: all 0.2s;
}

.music iframe:hover {
  height: 450px;
  width: 450px;
  filter: opacity(1) drop-shadow(2px 4px 6px black);
}

.shuffleButton {
  z-index: 3;
  position: fixed;
  top: 3px;
  right: 77px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  background: white;
  border-color: black;
  border-radius: 50%;
  filter: opacity(0.3);
  transition: all 0.2s;
}

.shuffleIcon {
  transform: scale(1.5);
}

.volSlider {
  z-index: 3;
  top: 40px;
  right: 4px;
  height: 10px;
  width: 173px;
  filter: opacity(0.3);
  position: fixed;
  background: white;
  transition: all 0.2s;
}

/* #endregion */

/* #region <Video Links> */

.vidLink {
  z-index: 3;
  position: absolute;
  top: 3px;
  right: 5px;
  font-family: Arial, monospace;
  -webkit-text-stroke: 0.15px white;
  filter: opacity(0.3);
  transition: all 0.2s;
}

.vidLinkButton {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  background: white;
  border-color: black;
}

.vidLinkIcon {
  transform: scale(1.25);
}

/* #endregion */

/* #region <Help Popup> */

.helpButton {
  z-index: 3;
  position: absolute;
  top: 3px;
  right: 151px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  background: white;
  border-radius: black;
  border-radius: 50%;
  filter: opacity(0.3);
  transition: all 0.2s;
}

.boxHelp {
  z-index: 5;
  position: relative;
  height: fit-content;
  width: 50vw;
  min-width: 350px;
  max-width: 600px;
  padding: 20px;
  padding-bottom: 50px;
  margin: 0;
  background: rgb(211, 211, 211, 0.75);
  border: 1px solid black;
  border-radius: 10px;
  font-family: Arial, monospace;
  filter: drop-shadow(2px 4px 6px black);
}

.closeHelpIcon {
  z-index: 5;
  position: fixed;
  right: 1%;
  top: 1%;
  width: 25px;
  height: 25px;
  line-height: 20px;
  font-size: 20px;
  text-align: center;
  background: #ededed;
  border: 1.5px solid black;
  border-radius: 50%;
  filter: opacity(0.3);
  transition: all 0.2s;
}

.helpBoxTitle {
  margin-top: 0;
}

.dontShowPopup {
  z-index: 5;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  border-radius: 10%;
  background: rgb(255,255,255,0.75);
  border: 1.5px solid black;
  color: black;
  filter: opacity(0.3);
  transition: all 0.2s;
}

/* #endregion */

/* #region <Credits> */

.boxCredits {
  z-index: 5;
  position: relative;
  height: fit-content;
  width: 50vw;
  max-width: 500px;
  min-width: 350px;
  padding: 20px;
  background: rgb(211, 211, 211, 0.75);
  border: 1px solid black;
  border-radius: 10px;
  font-family: Arial, monospace;
  filter: drop-shadow(2px 4px 6px black);
}

.closeCreditsIcon {
  z-index: 5;
  position: fixed;
  right: 1%;
  top: 2%;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 20px;
  background: #ededed;
  border: 1.5px solid black;
  border-radius: 50%;
  font-size: 20px;
  filter: opacity(0.3);
  transition: all 0.2s;
}

.credits {
  z-index: 5;
  position: relative;
  height: fit-content;
  font-family: Arial, monospace;
}

/* #endregion */

/* #region <Hover Stylings> */

.helpButton:hover     ,   .closeHelpIcon:hover  ,
.menuButton:hover     ,   .closeMenuIcon:hover,
.creditsButton:hover  ,   .closeCreditsIcon:hover,
.muteButton:hover     ,   
.shuffleButton:hover  ,
.vidLink:hover        , 
.volSlider:hover      ,   
.dontShowPopup:hover {
  filter: opacity(1) drop-shadow(2px 4px 6px black);
}

/* #endregion */

/* #region <Mobile Stylings> */

/* Testing iPhone CSS Media Query */

@media only screen 
and (device-width: 375px) 
and (device-height: 812px) 
and (-webkit-device-pixel-ratio: 3) {
  .helpWrapper {
    position: fixed;
    bottom: 0%;
    left: 0%;
    height: fit-content;
  }

  .creditsWrapper {
    position: fixed;
    bottom: 0%;
    left: 0%;
  }

  .boxMenu {
    z-index: 5;
    position: fixed;
    top: 60px;
    right: -1%;
    height: 100px;
    width: 200px;
    min-height: 10vh;
    margin: 0;
    padding: 20px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
    border: 1px solid black;
    font-family: Arial, monospace;
    scale: 0.9;
    filter: drop-shadow(2px 4px 6px black);
  }

  .music {
    z-index: 3;
    position: absolute;
    top: -1%;
    left: -2%;
    scale: 0.8;
  }

  .music iframe {
    height: 125px;
    width: 200px;
    filter: opacity(0.1);
    transition: all 0.2s;
  }

  .music iframe:hover {
    height: 350px;
    width: 200px;
    filter: opacity(1) drop-shadow(2px 4px 6px black);
  }
}

@media only screen and ((max-width: 1224px) and (orientation: portrait) and (
  (-webkit-device-pixel-ratio: 2) or 
  (-webkit-device-pixel-ratio: 3) or
  (-webkit-device-pixel-ratio: 4))) {
  .helpWrapper {
    position: fixed;
    bottom: 0%;
    left: 0%;
    height: fit-content;
  }

  .creditsWrapper {
    position: fixed;
    bottom: 0%;
    left: 0%;
  }

  .boxMenu {
    z-index: 5;
    position: fixed;
    top: 60px;
    right: -1%;
    height: 100px;
    width: 200px;
    min-height: 10vh;
    margin: 0;
    padding: 20px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
    border: 1px solid black;
    font-family: Arial, monospace;
    scale: 0.9;
    filter: drop-shadow(2px 4px 6px black);
  }

  .music {
    z-index: 3;
    position: absolute;
    top: -1%;
    left: -2%;
    scale: 0.8;
  }

  .music iframe {
    height: 125px;
    width: 200px;
    filter: opacity(0.1);
    transition: all 0.2s;
  }

  .music iframe:hover {
    height: 350px;
    width: 200px;
    filter: opacity(1) drop-shadow(2px 4px 6px black);
  }
}

@media only screen and ((max-width: 1224px) and (orientation: landscape) and (
  (-webkit-device-pixel-ratio: 2) or 
  (-webkit-device-pixel-ratio: 3) or
  (-webkit-device-pixel-ratio: 4))) {
  .helpWrapper {
    position: fixed;
    bottom: 0%;
    left: 0%;
    height: 100%;
    overflow: auto;
  }

  .creditsWrapper {
    position: fixed;
    bottom: 0%;
    left: 0%;
  }
}

/* #endregion */
