body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,body{
  height:100%;
  width:100%;
  margin:0px;
  padding:0px;
  overflow:hidden;
  border:unset;
}

.youtube-iframe{
  height:100vh;
  width:100%;
  margin:0px;
  padding:0px;
  overflow:hidden;
  border:none;
}

iframe{
  border:none;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-position: outside;
}

p {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

